h1 {
    text-align: center;
}
button {
    margin-left: 12.5%;
    padding: 10px;
}
.sectionInvis {
    display: none;
}
.sectionVis {
    display: block;
}
.bindings {
    border: 1px solid black;
    width: 50%;
    padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}